// bower:scss
// endbower

body {
    background: #FCFCFA;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.topbar {
    width: 100%;
    height: 5em;
    background-color: #C0C0BE;
    margin-bottom: -4.5em;
}

.header img {
    width: 4%;
    height: 3.75em;
    display: inline-block;
    margin-left:  2%;
    margin-bottom: -.563em;
}

// @media screen and (max-width: 1000px)  {
//     .header img { display:none;}
// }

h1 {
    font-family: 'Cinzel', serif;
    color: #F5F5F5;
    font-size: 3.438em;
    margin-top: -6.125em;
    display: inline-block;
    margin-left: 2%;
}

.container {
    margin-left: 33%;
    margin-top: 1.563em;
    max-width: 80%
}

.image-template img {
    margin-left: 2%;
    margin-bottom: 1.563em;
    margin-top: 1.563em;
}

.galleryView {
    margin-bottom: 2.5em;
}

.galleryView span {
    margin-left: 2%;
    text-align: center;
    font-family:'Droid Serif', serif;
}

.galleryView img {
    width: 58%;
    height: 31.25em;
}

.input-container {
    margin-top: -1.563em;
}

.canvas-container {
    // float: left;
    height: 0em;
    width: 50%;
}

canvas {
    margin-top: 0em;
    z-index: 10;
}







